.monster-manager {
	background-color: rgba(0, 0, 0, .5);
	display: grid;
	grid-template-rows: auto repeat(3, auto) 250px 50px;
}

.monster-manager .clear-monsters {
	background-color: #f00;
	color: #ff0;
	font-weight: bold;
	padding: 1em;
}

.monster-manager .add-monster {
	background-color: #090;
	color: #fff;
	font-weight: bold;
	padding: 1em;
}

.monster-manager .star-editor {
	display: grid;
	grid-column-gap: 1em;
	grid-template-columns: repeat(5, 2.5em);
	justify-content: center;
}

.monster-manager .monster-storage {
	overflow: auto;
}
