.monster-manager {
	background-color: rgba(0, 0, 0, .5);
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: 4rem auto 3rem;
	height: 100%;
	padding: 1rem;
}

.monster-manager > section {
	grid-row: 2 / 3;
}

.monster-manager .store-to-local {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.monster-manager .clear-monsters {
	background-color: #f00;
	color: #ff0;
	font-weight: bold;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	padding: 1em;
}

.monster-manager .monster-storage {
	overflow: auto;
}
