.monster-manager {
	background-color: rgba(0, 0, 0, .5);
	display: grid;
	grid-template-rows: auto repeat(5, 1fr);
}

.monster-manager .clear-monsters {
	background-color: #f00;
	color: #ff0;
	font-weight: bold;
	padding: 1em;
}

.monster-manager .add-monster {
	background-color: #090;
	color: #fff;
	font-weight: bold;
	padding: 1em;
}
